<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1 th:text="${'User: ' + user.name}">Default Title</h1>
<nav th:replace="fragments :: page-header"></nav>

    <div class="user-listing">
        <p th:text="${'First Name: ' + user.first_name}"></p>
        <p th:text="${'Last Name: ' + user.last_name}"></p>
        <p th:text="${'Email: ' + user.email}"></p>
        <p th:text="${'Phone: ' + user.phone}"></p>
        <p th:text="${'Relationship: ' + user.relationship}"></p>
        <p th:text="${'Role: ' + user.role}"></p>

    </div>

</body>
</html>


