<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container py-2">
    <div class="row">
        <div class="col">
            <h2 class="font-weight-light">A Super Cool Banner Image!! :D</h2>
        </div>
    </div>
</div>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Category List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Create Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">User List</a>
    </li>
</ul>

<br>

<div class="container py-2">
    <div class="row">
        <div class="col">
            <h4 class="font-weight-light">Admin Landing Page</h4>
        </div>
    </div>
</div>

<br>



<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">Create a New User</h5>
                </div>
                <form>
                    <!--                        username field-->
                    <div class="row mb-3">
                        <label for="inputUserName" class="col-sm-2 col-form-label">User Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Username / Email" id="inputUserName" th:field="${user.username}" />
                            <span th:errors="${user.first_name}" class="error"></span>
                        </div>
                    </div>
                    <!--                        password field-->
                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Password" id="inputPassword" th:field="${user.password}" />
                            <span th:errors="${user.password}" class="error"></span>
                        </div>
                    </div>
                    <!--                        first name field-->
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="First Name" id="inputFirstName" th:field="${user.first_name}" />
                            <span th:errors="${user.first_name}" class="error"></span>
                        </div>
                    </div>
                    <!--                        last name field-->
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Last Name" id="inputLastName" th:field="${user.last_name}" />
                            <span th:errors="${user.last_name}" class="error"></span>
                        </div>
                    </div>
                    <!--                        phone field-->
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Phone"  id="inputPassword3">
                        </div>
                    </div>
                    <!--                        email field-->
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="E-mail"  id="inputPassword3">
                        </div>
                    </div>
                    <!--                        permissions-->
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Permission Level</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Permission Level 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Permission Level 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Permission Level 3
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Create User</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">Create a New Category</h5>
                </div>
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Category Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Category Name"  id="inputEmail3">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Enter Additional Information. Contact Info. etc.</label>
                        <textarea class="form-control" placeholder="PoA Name, cellphone, birthday of your dog." id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                                                    <fieldset class="row mb-3">
                                                        <legend class="col-form-label col-sm-2 pt-0">Permission Level</legend>
                                                        <div class="col-sm-10">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                                                <label class="form-check-label" for="gridRadios1">
                                                                    Permission Level 1
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                                                <label class="form-check-label" for="gridRadios2">
                                                                    Permission Level 2
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                                                <label class="form-check-label" for="gridRadios2">
                                                                    Permission Level 3
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="mb-3">
                                                        <label for="formFileMultiple" class="form-label">Upload File (optional)</label>
                                                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="submit" class="btn btn-primary mb-3">Submit New Category.</button>
                                                    </div>
            </div>
        </div>

</div>

</div>